bin/
*.exe
*.dll
*.so
*.dylib
vendor/
*.test
coverage.out
*.log


/.venv
brute_force.log
/scritps/__pycache__
.vscode/PythonImportHelper-v2-Completion.json
/scripts/__pycache__

.vscode/PythonImportHelper-v2-Completion.json
.specstory/
.specstory/
